body {
    background-color: rgb(241, 49, 49);
    color: aquamarine;
    font-family: "Hachi Maru Pop", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

 button {
    background-color: rgb(177, 24, 24);
    color: rgb(243, 243, 243);
    font-family: "Hachi Maru Pop", cursive;
 }

 .passo {
    display: none;
 }

 .passo-ativo {
    display: block;
 }

  main {
    text-align: center;
    max-width: 90%;
  }

  