body {
    background-color: rgb(85, 235, 235);
    color: rgb(255, 136, 127);
    font-family: "Hachi Maru Pop", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

 button {
    background-color: whitesmoke;
    color: rgb(10, 9, 10);
    font-family: "Hachi Maru Pop", cursive;
 }

 .passo {
    display: none;
 }

 .passo-ativo {
    display: block;
 }

  main {
    text-align: center;
    max-width: 90%;
  }

  